flows/02-input-routing.json
[
    {
        "id": "ir-tab",
        "type": "tab",
        "label": "Input Routing",
        "disabled": false,
        "info": "Ported from Input Routing.txt (Q-SYS Lua). Each link-in node is a named entry point triggered by Dashboard buttons or other flows via link-out nodes. msg.payload.inputNum = 1 | 2 | 3."
    },
    {
        "id": "ir-cmt-1",
        "type": "comment",
        "z": "ir-tab",
        "name": "msg.payload = { inputNum: 1|2|3 }  (all except setRearHDMI2)",
        "info": "",
        "x": 280,
        "y": 30,
        "wires": []
    },
    {
        "id": "ir-lin-left",
        "type": "link in",
        "z": "ir-tab",
        "name": "changeInputLeft",
        "links": [],
        "x": 100,
        "y": 100,
        "wires": [["ir-fn-left"]]
    },
    {
        "id": "ir-fn-left",
        "type": "function",
        "z": "ir-tab",
        "name": "changeInputLeft",
        "func": "// Ported from Input Routing.txt — ChangeInputLR left output\nconst blustream = global.get('blustream');\nconst devices = global.get('devices');\nconst modeState = global.get('modeState');\n\nconst inputNum = msg.payload.inputNum;\nconst { acm, outputs } = devices.blustream;\n\n(async () => {\n    try {\n        console.log(`[changeInputLeft] Routing left projector → input ${inputNum}`);\n        await blustream.switchOutputToInput(acm.ip, acm.port, outputs.projectorLeft.id, String(inputNum));\n        modeState.inputSelection.left = inputNum;\n        console.log('[changeInputLeft] Done');\n        msg.payload = { success: true, projector: 'left', inputNum };\n        node.send(msg);\n    } catch (err) {\n        node.error('[changeInputLeft] ' + err.message, msg);\n    }\n})();\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 100,
        "wires": [["ir-dbg"]]
    },
    {
        "id": "ir-lin-right",
        "type": "link in",
        "z": "ir-tab",
        "name": "changeInputRight",
        "links": [],
        "x": 100,
        "y": 200,
        "wires": [["ir-fn-right"]]
    },
    {
        "id": "ir-fn-right",
        "type": "function",
        "z": "ir-tab",
        "name": "changeInputRight",
        "func": "// Ported from Input Routing.txt — ChangeInputLR right output\nconst blustream = global.get('blustream');\nconst devices = global.get('devices');\nconst modeState = global.get('modeState');\n\nconst inputNum = msg.payload.inputNum;\nconst { acm, outputs } = devices.blustream;\n\n(async () => {\n    try {\n        console.log(`[changeInputRight] Routing right projector → input ${inputNum}`);\n        await blustream.switchOutputToInput(acm.ip, acm.port, outputs.projectorRight.id, String(inputNum));\n        modeState.inputSelection.right = inputNum;\n        console.log('[changeInputRight] Done');\n        msg.payload = { success: true, projector: 'right', inputNum };\n        node.send(msg);\n    } catch (err) {\n        node.error('[changeInputRight] ' + err.message, msg);\n    }\n})();\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 200,
        "wires": [["ir-dbg"]]
    },
    {
        "id": "ir-lin-rear",
        "type": "link in",
        "z": "ir-tab",
        "name": "changeInputRear",
        "links": [],
        "x": 100,
        "y": 300,
        "wires": [["ir-fn-rear"]]
    },
    {
        "id": "ir-fn-rear",
        "type": "function",
        "z": "ir-tab",
        "name": "changeInputRear",
        "func": "// Ported from Input Routing.txt — ChangeInputRR (rear output, special case)\n// Rear projector must be on HDMI1 (Blustream feed) for matrix routing to work.\n// Blustream switch is always sent regardless of projector source state —\n// mirrors original Lua which calls the Blustream command in both if/else branches.\nconst projector = global.get('projector');\nconst blustream = global.get('blustream');\nconst devices = global.get('devices');\nconst modeState = global.get('modeState');\n\nconst inputNum = msg.payload.inputNum;\nconst { acm, outputs } = devices.blustream;\nconst rearIp = devices.projectors.rear.ip;\n\n(async () => {\n    try {\n        console.log('[changeInputRear] Checking rear projector current source');\n        const current = await projector.getCurrentInput(rearIp);\n        console.log(`[changeInputRear] Current source: ${current}`);\n\n        if (current !== projector.SOURCE_CODES.HDMI1) {\n            console.log('[changeInputRear] Switching rear projector to HDMI1 (Blustream feed)');\n            await projector.setInput(rearIp, projector.SOURCE_CODES.HDMI1);\n        }\n\n        console.log(`[changeInputRear] Routing Blustream rear output → input ${inputNum}`);\n        await blustream.switchOutputToInput(acm.ip, acm.port, outputs.projectorRear.id, String(inputNum));\n\n        modeState.inputSelection.rear = inputNum;\n        modeState.rearCurrentInput = projector.SOURCE_CODES.HDMI1;\n        console.log('[changeInputRear] Done');\n        msg.payload = { success: true, projector: 'rear', inputNum };\n        node.send(msg);\n    } catch (err) {\n        node.error('[changeInputRear] ' + err.message, msg);\n    }\n})();\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 300,
        "wires": [["ir-dbg"]]
    },
    {
        "id": "ir-lin-all",
        "type": "link in",
        "z": "ir-tab",
        "name": "setAllProjectorInputs",
        "links": [],
        "x": 100,
        "y": 400,
        "wires": [["ir-fn-all"]]
    },
    {
        "id": "ir-fn-all",
        "type": "function",
        "z": "ir-tab",
        "name": "setAllProjectorInputs",
        "func": "// Ported from Input Routing.txt — SetAllInputs\n// Calls changeInputLeft → changeInputRight → changeInputRear logic in sequence.\n// Rear uses the same special-case source check as changeInputRear.\nconst projector = global.get('projector');\nconst blustream = global.get('blustream');\nconst devices = global.get('devices');\nconst modeState = global.get('modeState');\n\nconst inputNum = msg.payload.inputNum;\nconst { acm, outputs } = devices.blustream;\nconst rearIp = devices.projectors.rear.ip;\n\n(async () => {\n    try {\n        console.log(`[setAllProjectorInputs] Routing all projectors → input ${inputNum}`);\n\n        // Left\n        await blustream.switchOutputToInput(acm.ip, acm.port, outputs.projectorLeft.id, String(inputNum));\n        modeState.inputSelection.left = inputNum;\n        console.log('[setAllProjectorInputs] Left done');\n\n        // Right\n        await blustream.switchOutputToInput(acm.ip, acm.port, outputs.projectorRight.id, String(inputNum));\n        modeState.inputSelection.right = inputNum;\n        console.log('[setAllProjectorInputs] Right done');\n\n        // Rear — same special-case source check as changeInputRear\n        const current = await projector.getCurrentInput(rearIp);\n        if (current !== projector.SOURCE_CODES.HDMI1) {\n            await projector.setInput(rearIp, projector.SOURCE_CODES.HDMI1);\n        }\n        await blustream.switchOutputToInput(acm.ip, acm.port, outputs.projectorRear.id, String(inputNum));\n        modeState.inputSelection.rear = inputNum;\n        modeState.rearCurrentInput = projector.SOURCE_CODES.HDMI1;\n        console.log('[setAllProjectorInputs] Rear done');\n\n        console.log('[setAllProjectorInputs] All done');\n        msg.payload = { success: true, inputNum };\n        node.send(msg);\n    } catch (err) {\n        node.error('[setAllProjectorInputs] ' + err.message, msg);\n    }\n})();\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 400,
        "wires": [["ir-dbg"]]
    },
    {
        "id": "ir-lin-hdmi2",
        "type": "link in",
        "z": "ir-tab",
        "name": "setRearToDirectHDMI2",
        "links": [],
        "x": 100,
        "y": 500,
        "wires": [["ir-fn-hdmi2"]]
    },
    {
        "id": "ir-fn-hdmi2",
        "type": "function",
        "z": "ir-tab",
        "name": "setRearToDirectHDMI2",
        "func": "// Ported from Input Routing.txt — Classroom Mode HDMI direct-patch (teacher passthrough)\n// Sets rear projector to its own HDMI2 input, bypassing the Blustream matrix entirely.\n// No Blustream command is sent — this is a direct projector source switch.\nconst projector = global.get('projector');\nconst devices = global.get('devices');\nconst modeState = global.get('modeState');\n\nconst rearIp = devices.projectors.rear.ip;\n\n(async () => {\n    try {\n        console.log('[setRearToDirectHDMI2] Switching rear projector to direct HDMI2 (teacher passthrough)');\n        await projector.setInput(rearIp, projector.SOURCE_CODES.HDMI2);\n        modeState.rearCurrentInput = 'HDMI2';\n        console.log('[setRearToDirectHDMI2] Done');\n        msg.payload = { success: true, source: 'HDMI2' };\n        node.send(msg);\n    } catch (err) {\n        node.error('[setRearToDirectHDMI2] ' + err.message, msg);\n    }\n})();\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 500,
        "wires": [["ir-dbg"]]
    },
    {
        "id": "ir-dbg",
        "type": "debug",
        "z": "ir-tab",
        "name": "Input Routing Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 300,
        "wires": []
    }
]
