flows/03-projector-power.json
[
    {
        "id": "pp-tab",
        "type": "tab",
        "label": "Projector Power",
        "disabled": false,
        "info": "Ported from Projector Power Control.txt (Q-SYS Lua). Individual power nodes: msg.payload = { projector: 'left' | 'right' | 'rear' }. powerAllOn / powerAllOff take no payload."
    },
    {
        "id": "pp-cmt-stagger",
        "type": "comment",
        "z": "pp-tab",
        "name": "powerAllOn: 60s rear stagger is intentional — do not remove",
        "info": "Matches Timer.CallAfter(60, ...) in original Q-SYS Lua. Prevents simultaneous inrush current across all three lamp/laser units.",
        "x": 320,
        "y": 30,
        "wires": []
    },
    {
        "id": "pp-lin-on",
        "type": "link in",
        "z": "pp-tab",
        "name": "powerOnProjector",
        "links": [],
        "x": 100,
        "y": 100,
        "wires": [["pp-fn-on"]]
    },
    {
        "id": "pp-fn-on",
        "type": "function",
        "z": "pp-tab",
        "name": "powerOnProjector",
        "func": "// Ported from Projector Power Control.txt — individual projector power on\nconst projector = global.get('projector');\nconst devices = global.get('devices');\nconst modeState = global.get('modeState');\n\nconst name = msg.payload.projector;  // 'left', 'right', or 'rear'\nconst proj = devices.projectors[name];\n\nif (!proj) {\n    node.error(`[powerOnProjector] Unknown projector name: \"${name}\"`, msg);\n    return null;\n}\n\n(async () => {\n    try {\n        console.log(`[powerOnProjector] Powering on ${name} (${proj.ip})`);\n        const success = await projector.powerOn(proj.ip);\n        if (success) modeState.projectorPower[name] = true;\n        console.log(`[powerOnProjector] ${name} result: ${success}`);\n        msg.payload = { success, projector: name, action: 'powerOn' };\n        node.send(msg);\n    } catch (err) {\n        node.error(`[powerOnProjector] ${err.message}`, msg);\n    }\n})();\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 100,
        "wires": [["pp-dbg"]]
    },
    {
        "id": "pp-lin-off",
        "type": "link in",
        "z": "pp-tab",
        "name": "powerOffProjector",
        "links": [],
        "x": 100,
        "y": 200,
        "wires": [["pp-fn-off"]]
    },
    {
        "id": "pp-fn-off",
        "type": "function",
        "z": "pp-tab",
        "name": "powerOffProjector",
        "func": "// Ported from Projector Power Control.txt — individual projector power off\nconst projector = global.get('projector');\nconst devices = global.get('devices');\nconst modeState = global.get('modeState');\n\nconst name = msg.payload.projector;  // 'left', 'right', or 'rear'\nconst proj = devices.projectors[name];\n\nif (!proj) {\n    node.error(`[powerOffProjector] Unknown projector name: \"${name}\"`, msg);\n    return null;\n}\n\n(async () => {\n    try {\n        console.log(`[powerOffProjector] Powering off ${name} (${proj.ip})`);\n        const success = await projector.powerOff(proj.ip);\n        if (success) modeState.projectorPower[name] = false;\n        console.log(`[powerOffProjector] ${name} result: ${success}`);\n        msg.payload = { success, projector: name, action: 'powerOff' };\n        node.send(msg);\n    } catch (err) {\n        node.error(`[powerOffProjector] ${err.message}`, msg);\n    }\n})();\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 200,
        "wires": [["pp-dbg"]]
    },
    {
        "id": "pp-lin-allon",
        "type": "link in",
        "z": "pp-tab",
        "name": "powerAllOn",
        "links": [],
        "x": 100,
        "y": 320,
        "wires": [["pp-fn-allon"]]
    },
    {
        "id": "pp-fn-allon",
        "type": "function",
        "z": "pp-tab",
        "name": "powerAllOn",
        "func": "// Ported from Projector Power Control.txt — PowerAllOn\n//\n// IMPORTANT: The 60-second delay before firing the rear projector is intentional\n// and must not be removed. It matches Timer.CallAfter(60, ...) in the original\n// Q-SYS Lua and prevents simultaneous inrush current across all three lamp/laser\n// units at startup. Left + right fire concurrently; rear fires after the delay.\nconst projector = global.get('projector');\nconst devices = global.get('devices');\nconst modeState = global.get('modeState');\n\nconst { left, right, rear } = devices.projectors;\n\n(async () => {\n    try {\n        console.log('[powerAllOn] Firing left + right concurrently');\n        await Promise.all([\n            projector.powerOn(left.ip).then(() => { modeState.projectorPower.left = true; }),\n            projector.powerOn(right.ip).then(() => { modeState.projectorPower.right = true; }),\n        ]);\n        console.log('[powerAllOn] Left + right started. Waiting 60s before rear (intentional stagger — do not remove)');\n\n        await new Promise(resolve => setTimeout(resolve, 60000));\n\n        console.log('[powerAllOn] Firing rear projector');\n        await projector.powerOn(rear.ip);\n        modeState.projectorPower.rear = true;\n\n        console.log('[powerAllOn] All projectors started');\n        msg.payload = { success: true, action: 'powerAllOn' };\n        node.send(msg);\n    } catch (err) {\n        node.error('[powerAllOn] ' + err.message, msg);\n    }\n})();\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 320,
        "wires": [["pp-dbg"]]
    },
    {
        "id": "pp-lin-alloff",
        "type": "link in",
        "z": "pp-tab",
        "name": "powerAllOff",
        "links": [],
        "x": 100,
        "y": 420,
        "wires": [["pp-fn-alloff"]]
    },
    {
        "id": "pp-fn-alloff",
        "type": "function",
        "z": "pp-tab",
        "name": "powerAllOff",
        "func": "// Ported from Projector Power Control.txt — PowerAllOff\n// All three fire concurrently with no stagger — matches original Lua (power off has no delay).\nconst projector = global.get('projector');\nconst devices = global.get('devices');\nconst modeState = global.get('modeState');\n\nconst { left, right, rear } = devices.projectors;\n\n(async () => {\n    try {\n        console.log('[powerAllOff] Powering off all projectors concurrently');\n        await Promise.all([\n            projector.powerOff(left.ip).then(() => { modeState.projectorPower.left = false; }),\n            projector.powerOff(right.ip).then(() => { modeState.projectorPower.right = false; }),\n            projector.powerOff(rear.ip).then(() => { modeState.projectorPower.rear = false; }),\n        ]);\n        console.log('[powerAllOff] All projectors shut down');\n        msg.payload = { success: true, action: 'powerAllOff' };\n        node.send(msg);\n    } catch (err) {\n        node.error('[powerAllOff] ' + err.message, msg);\n    }\n})();\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 420,
        "wires": [["pp-dbg"]]
    },
    {
        "id": "pp-dbg",
        "type": "debug",
        "z": "pp-tab",
        "name": "Projector Power Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 300,
        "wires": []
    }
]
